.App {
  max-width: 500px;
  margin: 20px auto;
}

.done {
  text-decoration: line-through;
}

.list-group-item input {
  margin-left: 5px;
}

.list-group-item span {
  margin-left: 35px;
}

.btn-sm {
  font-size: 0.8rem;
}

.box-filters {
  margin-bottom: 20px;
}
